<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <!-- 각 html 페이지의 타이틀 -->
    <title>{% block title %}페이지타이틀{% endblock %}</title>

    {% block scripts %}{% endblock %}
</head>


<body>
    <header>
        <nav class="navbar">
            <a class="header-main-name" href="/">엘리서도서관</a>
            <ul class="navbar-menu">
            {% block nav_link %}
            {% endblock %}
            </ul>
        </nav>
    </header>
    <hr>
    <!-- 이걸 넣어서 얘가 다른 페이지랑 연결될 수 있게해주는 것임 -->
    {% block content %}
    {% endblock %}
</body>

</html>