<!-- 개별 책 세부정보 보여주는 페이지 -->

<!-- base.html을 상속받고 -->
{% extends 'base.html' %}
<!-- block content를 연결받음 -->
{% block title %} 책 상세페이지{% endblock %}

{% block scripts %}{% endblock %}

<!------------- 각 책의 세부정보 보여주기 -------------->

{% block content %}
<div class="book-detail-info-container">
<h3>~~개별적인 책 정보 이것저것 보여주는 페이지~~</h3>
<h2> 책제목 :{{ book.title }}</h2>

<h2>
    <p>대출가능/대출중: {{ book.book_status }}   </p>
    <form action="{{ url_for('book.checkout', book_id=book.id) }}" method="post">
        <input class='checkout-btn' type="submit" value="대출하기">
    </form> 
</h2>

<p> 책 이미지 :{{ book.book_img }}</p>
<p> 저자 :{{ book.author }}</p>
<p> 출판사 :{{ book.publisher }}</p>
<p> 출간일 :{{ book.publication_date }}</p>
<p> 페이지수 :{{ book.pages }}</p>
<p> isbn :{{ book.isbn }}</p>
<p> 책설명 :{{ book.description }}</p>
<p> 링크 :{{ book.book_link }}</p>
</div>


<div class="review-container">
    <h2>~~ 리뷰 ~~</h2>
    <p>리뷰가 총 {{ review_cnt }} 개 있습니다. 평균별점은 {{ rating_avg }} 입니다. </p>
    {% for review in review_list %}
    <div class="review">
        <p>작성자: {{ review.user_id }}</p>
        <p>평점: {{ review.rating }}</p>
        <p>평가: {{ review.content }}</p>
    </div>
    {% endfor %}
</div>

{% if session['login_id'] %}
<h3>리뷰 작성</h3>
<form action="{{ url_for('book.write_review', book_id=book.id) }}" method="post">
    <select name="star">
        <option value="1">1점</option>
        <option value="2">2점</option>
        <option value="3">3점</option>
        <option value="4">4점</option>
        <option value="5">5점</option>
    </select>
    <div class="form-group">
        <label for="review">리뷰</label>
        <input class="form-control" name="review" id="review" placeholder="리뷰를 작성해주세요."></input> 
    </div>
    <input class="btn btn-primary" type="submit" value="리뷰 올리기">
</form>

{% else %}
<p>리뷰를 남기기 위해서는 로그인이 필요합니다.</p>
<a href="{{ url_for('user.login')}}">로그인하기</a>


{% endif %}


{% endblock %}

