<!-- 개별 책 세부정보 보여주는 페이지 -->

<!-- base.html을 상속받고 -->
{% extends 'base.html' %}
<!-- block content를 연결받음 -->
{% block title %} 책 상세페이지{% endblock %}

{% block scripts %}{% endblock %}

<!------------- 각 책의 세부정보 보여주기 -------------->

{% block content %}

<h1>개별적인 책 정보 이것저것 보여주는 페이지</h1>
<h2>대출가능/대출중: {{ book.book_status }}
    <input class='checkout-btn' type="button" value="대출하기">
</h2>

<p> 책 이미지 :{{ book.book_img }}</p>
<p> 제목 :{{ book.title }}</p>
<p> 저자 :{{ book.author }}</p>
<p> 출판사 :{{ book.publisher }}</p>
<p> 출간일 :{{ book.publication_date }}</p>
<p> 페이지수 :{{ book.pages }}</p>
<p> isbn :{{ book.isbn }}</p>
<p> 책설명 :{{ book.description }}</p>
<p> 링크 :{{ book.book_link }}</p>

<div>
{% for r in review %}
<p>리뷰나왓</p>
    <p>{{ r.rating }}</p>
    <p>{{ r.content }}</p>
{% endfor %}
</div>

{% if session['login_id'] %}
<h3>리뷰 작성</h3>
<form action="{{ url_for('book.write_review', book_id=book.id) }}" method="post">
    <select name="star">
        <option value="1">1점</option>
        <option value="2">2점</option>
        <option value="3">3점</option>
        <option value="4">4점</option>
        <option value="5">5점</option>
    </select>
    <div class="form-group">
        <label for="review">리뷰</label>
        <input class="form-control" name="review" id="review" placeholder="리뷰를 작성해주세요."></input> 
    </div>
    <input class="btn btn-primary" type="submit" value="리뷰 올리기">
</form>
{% endif %}


{% endblock %}

