<!-- 로그인 페이지 -->
{% extends 'base.html' %}

{% block title %}로그인페이지{% endblock %}
{% block scripts %}{% endblock %}

{% block content %}
    <div class="login-input-block">
        <form action="{{ url_for('user.login') }}" method="post">
            <p>이메일 : <input type="text" id = "useremail" name = "useremail"></p>
            <p>비밀번호 : <input type="password" id = "password" name = "password"></p>
            <p><input class = "login-btn" type = "submit" value = "로그인"/> </p>    
            <a href="/join" class="register-btn">회원가입하기</a>   
        </form>
    </div>

{% endblock %}
