<!-- base.html을 상속받고 -->
{% extends 'base.html' %}
<!-- block content를 연결받음 -->
{% block title %} 메인페이지 {% endblock %}


{% block content %}
<!-- 책 목록 -->

<div class="book-card-container">
    {% for b in book_list %}
        <div class="book-info-card">
            <a href="/book_info/{{ b.id }}">{{ b.title }}</a>
            <hr>
            <br>[별점***]
            <hr>
            <br>{{ b.book_status }}
            <br>
            <a href=""> [대출하기] </a>
        </div>
    {% endfor %}
</div>



{% endblock %}