<!-- base.html을 상속받고 -->
{% extends 'base.html' %}
<!-- block content를 연결받음 -->
{% block title %} 메인페이지 {% endblock %}


{% block content %}
<!-- 책 목록 -->

<div class="book-card-container">
        {{ rating }}
    {% for b in book_list %}
        <div class="book-info-card">
            <a href="/book_info/{{ b.id }}">{{ b.title }}</a>
            <hr>
            <br>[별점***]
            <hr>
            {% if b.book_status == '1' %}
                <p style="color: blue;">대출가능</p>
            {% else %}
                <p style="color:red">대출불가</p>
            <br>
            {% endif %}
            <br>
            <form action="{{ url_for('book.checkout', book_id=b.id) }}" method="post">
                <input class='checkout-btn' type="submit" value="대출하기">
            </form>  
        </div>
    {% endfor %}
</div>



{% endblock %}