<!-- base.html을 상속받고 -->
{% extends 'base.html' %}
<!-- block content를 연결받음 -->
{% block title %} 메인페이지 {% endblock %}


{% block content %}
<!-- 책 목록 -->


<div class="book-card-container">
    <h2>현재 대출중인 책은 {{ cnt }}권 입니다.</h2>

    {% for book in checkout_list %}
        <div class="checkout-info-list">
            <p>제목: {{ book.title }}</p>
            <p>저자: {{ book.author }}</p>
            <p>출판사: {{ book.publisher }}</p>
            <p>isbn: {{ book.isbn }}</p>
            <p>book_id: {{ book.id }}</p>
            <p>대출일: </p>
            <p>반납예정일: </p>


            <form action="{{ url_for('book.book_return', book_id=book.id) }}" method="post">
                <input class='checkout-btn' type="submit" value="반납하기">
            </form>  
        </div>
    {% endfor %}


</div>



{% endblock %}