/* css에서 변수를 할당해서 전체 색상을 바꿔쓸 수 있다? */
:root {
  --text-color: black;
  --background-color: white; 
  --accent-color: grey;
}
  
body {
  margin: 0;
}

/* 앵커태그에 기본적으로 들어간 밑줄과 색상을 바꿔주기*/
a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}
  
.header-main-name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-left: 24px;
}
  
/* navbar 메뉴 꾸미기 */
.navbar-menu {
  display: flex;
  list-style: none; /* 리스트 닷 없애기 */
  padding-left: 0;
}
  
/* 메뉴 간격 조정하기 */
.navbar-menu li {
  padding: 8px 12px; /* 나중에 메뉴를 클릭할 때 글자 주변을 눌러도 되게 패딩을 약간 줘서 영역을 확보. 마진을 넣으면 클릭할 수 있는 범위가 작아지고 패딩을 넣으면 박스 안에 넣기 때문에 마우스를 클릭할 수 있는 영역이 넓어짐*/
}
  
/* navbar 메뉴 위에 마우스 올리면 변하게 */
.navbar-menu li:hover {
  background-color: gray;
  border-radius: 4px;
}

.register-input-block p {
  display: flex;
}

.login-input-block p {
  display: flex;
}


/* 메인화면의 책 정보 나열 페이지 flex로 정렬시키기 */
.book-card-container {
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-info-card {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 400px;
  border: 1px solid blue;
}
/* 메인의 책 위에 마우스 올리면 변하게 */
.book-info-card:hover {
  background-color: rgb(199, 199, 199);
  border-radius: 4px;
}

.review-container {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.review-container .review {
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10px 5px;
  border: 1px solid black;
}


.book-detail-info-container {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;  
}