<!-- base.html을 상속받고 -->
{% extends 'base.html' %}
<!-- block content를 연결받음 -->
{% block title %} 메인페이지 {% endblock %}


{% block content %}
<!-- 책 목록 -->


<h3 style="margin:20px">   현재 대출중인 책은 총 {{ checkout_count }} 권 입니다.</h3>
<div class="checkout-book-container">
    {% for book in checkout_list %}
        <div class="checkout-book-list">
            <p>제목: {{ book[1].title }}</p>
            <p>저자: {{ book[1].author }}</p>
            <p>출판사: {{ book[1].publisher }}</p>
            <p>isbn: {{ book[1].isbn }}</p>
            <p>book_id: {{ book[0].book_id }}</p>
            <p>대출일: {{ book[0].checkoutdate }}</p>
            <p>반납예정일: {{ book[0].duedate }}</p>
            <form action="{{ url_for('book.book_return', book_id=book[0].book_id) }}" method="post">
                <input class='checkout-btn' type="submit" value="반납하기">
            </form>  
        </div>
    {% endfor %}
</div>
<hr>
<div class="records-container">
    <h3> 반납이 완료된 책은 총 {{ return_count }} 권 입니다. </h3>
    <hr>
    {% for book in return_records %}
        <div class="records-list">
            <p> {{ book[1].title }}, {{ book[1].author }}, {{ book[1].publisher }}</p> 
            <p>대출일: {{ book[0].checkoutdate }}, 반납일: {{ book[0].returndate }}</p>
            <hr>
        </div>
    {% endfor %}
</div>

{% endblock %}